@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --bg: #FFFFFF;
    --txt: #202020;
}

[className="dark"] {
    --bg: #202020;
    --txt: #FFFFFF;
}

@theme inline {
    --color-background: var(--bg);
    --color-text: var(--txt);
}


.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}